:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid var(--main-bd);
}

app-table {
    border-width: 0;
    flex-grow: 1;
}

/*:host {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border: 1px solid var(--main-bd);*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    user-select: none;*/
/*}*/

/*.table-container {*/
/*    width: 100%;*/
/*    flex-grow: 1;*/
/*    overflow-y: auto;*/
/*    margin-bottom: -1px;*/
/*    overflow-x: auto;*/
/*}*/

/*table:not(.plain) {*/
/*    width: 100%;*/
/*    border-spacing: 0;*/
/*    background: var(--light-bg, white);*/
/*}*/

/*thead {*/
/*    position: sticky;*/
/*    top: 0;*/
/*    background: var(--dark-bg, grey);*/
/*}*/

/*td:not(table.plain td), th:not(table.plain th) {*/
/*    text-align: left;*/
/*    padding: 6px 12px;*/
/*    border-bottom: 1px solid var(--main-bd, black);*/
/*}*/

/*tbody:not(table.plain tbody), tr:not(table.plain tr, tbody tr, thead tr, tfoot tr) {*/
/*    cursor: pointer;*/
/*}*/

/*tbody:not(table.plain tbody):hover, tr:not(table.plain tr, tbody tr, thead tr, tfoot tr):hover {*/
/*    background-color: var(--light-hover-bg, grey);*/
/*}*/

/*tbody tr:not(:last-of-type) td:not(table.plain td) {*/
/*    border-bottom: none;*/
/*    padding-bottom: 0;*/
/*}*/

/*td:not(:first-child):not(table.plain td), th:not(:first-child):not(table.plain th) {*/
/*    padding-left: 0;*/
/*}*/

/*td:not(table.plain td) {*/
/*    vertical-align: top;*/
/*}*/

/*th:not(table.plain th) {*/
/*    font-size: 0.9em;*/
/*    font-weight: 500;*/
/*    color: var(--dim-fg, white);*/
/*    text-wrap: nowrap;*/
/*}*/

/*table.plain {*/
/*    border-spacing: 0;*/
/*}*/

/*table.plain th {*/
/*    font-size: 0.85em;*/
/*    font-weight: 500;*/
/*    color: var(--dim-fg, grey);*/
/*}*/

/*table.plain th, table.plain td {*/
/*    vertical-align: baseline;*/
/*    padding-left: 8px;*/
/*    text-align: left;*/
/*}*/

/*table.plain th:first-child, table.plain td:first-child {*/
/*    padding-left: 0;*/
/*}*/

/*.header-control, .footer-control {*/
/*    background: var(--dark-bg, grey);*/
/*    padding: 8px 12px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*    gap: 8px;*/
/*}*/

/*.header-control {*/
/*}*/

/*.footer-control {*/
/*    margin-top: auto;*/
/*    position: sticky;*/
/*    bottom: 0;*/
/*    border-top: 1px solid var(--main-bd, black);*/
/*}*/

/*.attributes {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    gap: 2px 24px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.attributes div {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    gap: 8px;*/
/*    align-items: baseline;*/
/*}*/

/*.attributes dt {*/
/*    all: unset;*/
/*    font-size: 0.85em;*/
/*    font-weight: 500;*/
/*    color: var(--dim-fg, grey);*/
/*}*/

/*.attributes dd {*/
/*    all: unset;*/
/*}*/

/*.nowrap {*/
/*    text-wrap: nowrap;*/
/*}*/
