.dialogs {
    position: fixed;
    inset: 0;
}

.background {
    position: absolute;
    inset: 0;

    background: black;
    opacity: 30%;
}

@media (prefers-color-scheme: dark) {
    .background {
        background: #101010;
    }
}

.dialog-layer {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    overflow-y: auto;
}

.dialog-layer-padding {
    padding: 30px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-layer-padding::ng-deep > * {
    pointer-events: auto;
    margin-top: auto;
    margin-bottom: auto;
    /*box-shadow: #777 0 0 20px, #555 0 5px 50px;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 8px -4px, rgba(0, 0, 0, 0.14) 0px 12px 17px 2px, rgba(0, 0, 0, 0.12) 0px 5px 22px 4px;
}

@media (prefers-color-scheme: dark) {
    .dialog-layer-padding::ng-deep > * {
        box-shadow: rgba(255, 255, 255, 20%) 0 0 2px 1px, rgba(255, 255, 255, 10%) 0 0 6px 2px, rgba(0, 0, 0, 100%) 0 0 1px 2px;
    }
}

@media (max-width: 500px) {
    .dialog-layer-padding {
        padding: 10px;
    }
}
