:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host app-main-sentences-table, :host app-main-words-table {
    flex-basis: auto;
    min-height: 0;
    border-width: 1px 0 0 0;
}
