:host {
    background: var(--dark-bg, grey);
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
}

::ng-deep .spacer {
    margin-left: auto;
    margin-right: -8px;
}

::ng-deep input[type="text"] {
    width: 300px;
}
